section{
    margin-left: 8%;
    margin-bottom: 5%;
    margin-right: 8%;
}
.flaxible{
    display: flex;
}
span{
    color: sandybrown;
}
#heading-1{
    font-family: 'Yeseva One', cursive;
    font-size:50px;
    font-weight: 700;
    border-left: 3px solid rgb(245, 160, 32);
}
.half{
    width: 50%;
}
.half img{
    width: 60%;
    margin-left: 15%;
}
.link-button{
    text-decoration: none;
    background-color: salmon;
    font-weight: 600;
    padding: 9px 25px;
    color: white;
    border-radius: 4px;
    margin-top:15px;
}
.margin-top{
    margin-bottom: 30px;
    text-align: left;
    padding-right: 5%;
}
.bottom{
    margin-top: 30px;
}
.center-text{
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.half-2 div{
    width: 45%;
    margin-right: 6%;
    margin-right: 6%;
}
.box-icon{
    height: 110px;
    width: 110px;
}
.box-1{
    border: 0px solid;
    border-radius: 10px;
    background-color: pink;
    padding: 15px 20px;
}
.box-2{
    border: 0px solid;
    border-radius: 10px;
    background-color: rgb(155, 235, 238);
    padding: 15px 20px;
}
.box-3{
    border: 0px solid;
    border-radius: 10px;
    background-color: rgb(236, 208, 133);
    padding: 15px 20px;
}
.half-3{
    width: 50%;
}
.half-3 img{
    width: 70%;
}
.passoin{
    margin-right: 30%;
}
.heading{
    font-weight: 700;
    font-size: 30px;
}
.bottom-m{
    margin-bottom: 10%;
}